<% provide :title, t(".title") %>
<h1><%= t ".header" %></h1>
<p>
  <%= t ".the" %>
  <%= link_to t(".ror"), "https://www.railstutorial.org/" %>
  <%= t ".is_a" %>
  <%= link_to t(".book"), "https://www.railstutorial.org/book" %>
  <%= t ".and" %>
  <%= link_to t(".screencast_series"), "http://screencasts.railstutorial.org/" %>
  <%= t ".teach" %>
  <%= link_to t(".ror"), "http://rubyonrails.org/" %>.
  <%= t ".sample" %>.
</p>
